body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.poiDisplay {
    position: fixed;
    top: 10px;
    right: 10px;
    min-height: 50px;
    width: 300px;
    border-radius: 10px;
    padding: 2px;
    max-height: calc(100vh - 20px);
    overflow: auto;
    z-index: 100;
}

.poiimg {
    display: block;
    width: calc(100% - 2px);
    border-radius: 10px;
    border: solid 2px white;
}

.openLinkContainer {
    width: 90vw;
    height: 95vh;
    position: fixed;
    top: 2.5vh;
    left: 2.5vw;
    padding: 1px;
    box-shadow: 3px 3px 6px black;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 200;
}

.iframe {
    width: 100%;
    height: 95vh;
}

.buttonContainer {}

.button {
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    background-color: white;
    border: none;
}

#wikipediaBtn {
    /* background-color: red; */
}

.popupImg{
    max-width: 80vw;
    max-height: 80vh;
    display: block;
}

.openLinkContainer {
    width: fit-content;
    height: fit-content;
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    box-shadow: 3px 3px 6px black;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 200;
}